{% extends 'webapp/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<body>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3>craete ur acc</h3>
        <h5>start managing ur client today</h5>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {%csrf_token %}
            {{form.as_p}}
            <br>

        <button type="submit" class="btn btn-primary w-100 btn-block p-2">create account</button>
        </form>
        <br>

        <div class="text-center"> 
            <p> already have an account ?</p> <a href="{%url 'my-login' %}">Login</a>

        </div>
        
    </div>
    <br>
</body>

{%endblock%}